<div class="movie-modal" id="movieModal">
    <div class="modal-content">
        <button class="modal-close"><i class="fas fa-times"></i></button>
        <div class="modal-banner">
            <img src="" alt="" class="modal-img">
            <div class="modal-banner-content">
                <h2 class="modal-title"></h2>
                <div class="modal-buttons">
                    <button class="btn btn-play"><i class="fas fa-play"></i> Assistir</button>
                    <button class="btn btn-list"><i class="fas fa-plus"></i></button>
                    <button class="btn btn-like"><i class="far fa-thumbs-up"></i></button>
                </div>
            </div>
        </div>
        <div class="modal-info">
            <div class="modal-details">
                <div class="modal-metadata">
                    <span class="match">97% relevante</span>
                    <span class="year">2022</span>
                    <span class="rating">16+</span>
                    <span class="duration">2h 30m</span>
                </div>
                <p class="modal-description"></p>
            </div>
            <div class="modal-extra">
                <div class="modal-cast">
                    <span class="label">Elenco:</span>
                    <span class="cast-list"></span>
                </div>
                <div class="modal-genres">
                    <span class="label">Gêneros:</span>
                    <span class="genre-list"></span>
                </div>
            </div>
        </div>
        <div class="modal-trailer">
            <h3>Trailer</h3>
            <div class="trailer-container">
            </div>
        </div>
    </div>
</div>