<header class="navbar">
    <div class="navbar-container">
        <div class="nav-align">
            <div class="logo">
                <img src="assets/images/Netflix-Logo.png" alt="Netflix Logo"
                    style="width: 80%; height: 100%;">
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="index.html" class="nav-link"
                            data-page="home">Início</a></li>
                    <li><a href="series.html" class="nav-link"
                            data-page="series">Séries</a></li>
                    <li><a href="filmes.html" class="nav-link"
                            data-page="filmes">Filmes</a></li>
                    <li><a href="minha-lista.html" class="nav-link"
                            data-page="minha-lista">Minha Lista</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-right">
            <div class="search-container">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="search-input-container">
                    <input type="text" class="search-input"
                        placeholder="Títulos, pessoas, gêneros">
                </div>
            </div>
            <div class="profile-icon" id="profileIcon">
                <img src="assets/icons/User-Icon-Netflix.png" alt="Perfil">
            </div>
        </div>
    </div>
</header>